@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  user-select: none;
}

.font-pacifico {
  font-family: var(--font-pacifico), cursive;
}

html, body {
  overscroll-behavior: none; /* iOSの引っ張りバウンド防止 */
  touch-action: pan-x pan-y;  /* スクロール可能だが挙動を制限 */
}
